.kard {
  background-size: cover;
  background-repeat: no-repeat;
  height: 225px;
  max-width: 20%
}
.margy {
  margin: 50px;
}

.icon {
  height: 64px;
  width: 64px;
  display: inline-block;
}

.hundo {
  height: 100vh
}

.paddy {
  padding: 10px 0px 40px 10px;
}

.b-marg {
  margin-bottom: 10px;
}